name: Manual GitHub Release Trigger

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
          server-id: github

      - name: Get Maven Project Version
        run: |
          echo "RELEASE_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV

      - name: Manual Release Approval
        uses: trstringer/manual-approval@v1.11.0
        timeout-minutes: 1
        with:
          secret: ${{ github.TOKEN }}
          approvers: oranheim
          issue-title: "Approve release of ${{ env.RELEASE_VERSION }}"

      - name: Configure Git User
        run: |
          git config user.email "oranheim@gmail.com"
          git config user.name "GitHub Actions"

      - name: Release with Maven
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mvn --batch-mode release:clean release:prepare release:perform \
            -Darguments="-DskipTests" \
            -DskipTests
